/*===============================================================================
Remove all margins and paddings*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*====================================================================
Rotate outer wrapper for horizontal scrolling*/
#outer-wrapper {
  width: 100vh;
  height: 100vw;

  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  
  overflow-y: scroll;
  overflow-x: hidden;
  
  position: absolute;
}
.outer-wrapper::-webkit-scrollbar { width: 0 !important }

/*================Title screen================*/
.title-screen{
  height: 100vw;
  width: 100vw;

  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;

  background:url('img/bg.jpg');/*Placeholder BG <-- Apply cool animation here*/
  background-size:  contain ;
  background-color: orange;
}

.logo{
  height: 20vw;
  width: 20vw;
}
.logo img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

/*==================================================================
Navbar*/
#navbar {
  overflow: hidden;
  z-index: 100;
  position: sticky;top: 0;width: 100%;
  top: 0vh;
  backdrop-filter: blur(10px);
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  opacity:  1 ;
}
/*=========================================================
Rotate inner wrapper in opposite direction to orient elements right way up*/
.wrapper {
  
  display: flex;
  flex-direction: row;
  
  width: 400vw;

  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  margin-top:  -48px;
}

/*============================================
Individual slides at 100% wicth and 100% height of viewport*/
.slide {
  width: 100vw;
  height: 100vh;

  background:url('img/bg.jpg');/*Placeholder BG <-- Apply cool animation here*/
  background-size:  cover ;
  background-repeat: no-repeat;
  border: 1px red solid;
}

/*===============================
Generic Properties

.bg-black {background: #111111;}
.bg-white {background: #eeeeee;}
*/